/* -------------------- */
/* $Catalog */
/* -------------------- */

/*
 * Catalog
 * Font import
 * Icons
 * Global
 * Header
 * About
 * My Blog Post
 * subscribe
 * Contact
 * Footer
*/

/* -------------------- */
/* $Font import */
/* -------------------- */
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css');

/* ------------------- */
/* $Icons */
/* ------------------- */
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?84549510');
  src: url('../font/fontello.eot?84549510#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?84549510') format('woff2'),
       url('../font/fontello.woff?84549510') format('woff'),
       url('../font/fontello.ttf?84549510') format('truetype'),
       url('../font/fontello.svg?84549510#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?84549510#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  /*margin-right: .2em;*/
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  /*line-height: 1em;*/
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /*margin-left: .2em;*/
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-user:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */

/* -------------------- */
/* $Global */
/* -------------------- */
body{
	font-family: "Merriweather", "Noto Sans TC", "Arial", sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
h1{
	font-size: 56px;
	font-weight: 400;
	line-height: 1.35;
	letter-spacing: -0.02em;
	margin-top: 24px;
	margin-bottom: 24px;
}
h2{
	font-size: 45px;
	font-weight: 400;
	line-height: 48px;
	margin-top: 24px;
	margin-bottom: 24px;
}
h3{
	font-size: 34px;
	font-weight: 400;
	line-height: 40px;
	margin-top: 24px;
	margin-bottom: 24px;
}
h4{
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
	-moz-osx-font-smoothing: grayscale;
	margin-top: 24px;
	margin-bottom: 24px;
}
h5{
	font-size: 20px;
	font-weight: 500;
	line-height: 1;
	letter-spacing: 0.02em;
	margin-top: 24px;
	margin-bottom: 16px;
}
h6{
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.04em;
	margin-top: 24px;
	margin-bottom: 16px;
}
p{
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0;
	margin-bottom: 16px;
}
/* -------------------- */
/* $Header */
/* -------------------- */
/*.bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../images/roman-trifonov-333936-unsplash.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.bg:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #161616;
	opacity: 0.5;
}*/
.header{
	background-color: hsl(83deg 63% 61%);
}
.englishTitle{
	position: absolute;
	top: 65%;
	left: 0;
	padding-left: 36px;
	/*border: 1px solid #000;*/
}
.navbar{
}
.navbar__title{
	display: inline;
}
.navbar__title a{
	display: inline-block;
	padding: 36px 32px 42px 32px;
	font-size: 32px;
	color: #000;
	text-align: center;
	/*transition: color 0.3s;*/
}
@media (max-width: 480px){
	.navbar__title a{
		font-size: 16px;
		padding-top: 28px;
		padding-left: 24px;
	}
	.englishTitle{
		top: 53%;
		padding-left: 24px;
	}
	.englishTitle a{
		font-size: 8px;
	}
}
/*.navbar__title a:hover{
	color: #dcb677;
}*/
.navbar__nav{
	float: right;
}
.nav__menu li{
	float: left;
}
.nav__menu .menu__item{
	display: inline-block;
	color: #000;
	padding: 32px;
	padding-top: 48px;
/*	padding-left: 16px;
	padding-right: 16px;*/
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	transition: color 0.3s;
}
/*.nav__menu .menu__item:hover{
	color: #dcb677;
}*/
/* menu-toggle */
.navbar .menu-toggle{
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	height: 100px;
	display: inline-block;
	padding: 32px;
	padding-top: 48px;
}
@media (max-width: 480px){
	.navbar .menu-toggle{
		padding-top: 32px;
		padding-right: 12px;
		padding-left: 52px;
	}
}
@media (min-width: 961px){
	.navbar .menu-toggle{
		display: none;
	}
}
.menu-toggle span{
	display: block;
	width: 100%;
	height: 2px;
	background-color: #000;
	margin-bottom: 8px;
}
/* popup-nav */
@media (max-width: 960px){
	.popup-nav{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: hsl(83deg, 63%, 61%);
		opacity: 0;
		visibility: hidden;
		/*transition: all 0.3s;*/
		z-index: 100;
	}
	.popup-nav:target{
		opacity: 1;
		visibility: visible;
	}
	.popup-nav .nav__menu{
		float: none;
		padding-top: 40px;
	}
	.popup-nav .nav__menu li{
		float: none;
		text-align: center;
	}
	.popup-nav .nav__menu .menu__item{
		padding: 16px;
	}
	/* popup close */
	.popup-close{
		position: absolute;
		top: 0;
		right: 0;
		width: 100px;
		height: 100px;
		display: inline-block;
		padding: 32px;
		padding-top: 48px;
	}
	.popup-close span{
		position: absolute;
		top: 50%;
		height: 3px;
		width: 32px;
		background-color: #000;
	}
	.popup-close span:nth-child(1){
		transform: translateY(-50%) rotate(45deg);
	}
	.popup-close span:nth-child(2){
		transform: translateY(-50%) rotate(-45deg);
	}
}
/* -------------------- */
/* $About */
/* -------------------- */
.about{
	/*padding-top: 36px;*/
	padding-bottom: 36px;
	/*border: 1px solid #000;*/
}
@media (max-width: 480px){
	.about{
		padding-bottom: 0;
	}
}
.jumbotron{

}
.jumbotron__item{

}
.jumbotron__item .image{
	min-height: 85vh;
	background-size: cover;
	background-position: center;
}

/* Carousel Style */
@media (max-width: 1024px){
	.owl-theme .owl-nav{
		display: none;
	}
	.jumbotron__item .image{
		min-height: 40vh;
	}
}
@media (max-width: 480px) {
	.owl-theme .owl-nav{
		display: none;
	}
	.jumbotron__item .image{
		min-height: 30vh;
	}	
}
/*.owl-theme .owl-nav .owl-prev,.owl-theme .owl-nav .owl-next{
	position: absolute;
	top: -36vh;
	transform: translateY(-50%);
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 3px 10px rgba(0,0,0,0.5);
	opacity: 0.5;
	transition: all 0.3s;
}
.owl-theme .owl-nav .owl-prev:hover,.owl-theme .owl-nav .owl-next:hover{
	opacity: 1;
}*/
/*.owl-theme .owl-nav .owl-prev{
	left: 24px;
	background-image: url("../images/slider-arrows.png");
	background-size: cover;
	background-position: right;
}
.owl-theme .owl-nav .owl-next{
	right: 24px;
	background-image: url("../images/slider-arrows.png");
	background-size: cover;
	background-position: left;
}*/
.owl-theme .owl-dots{
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: 24px;
}
.owl-theme .owl-dots .owl-dot{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: top;
	margin: 0 4px;
	background-color: rgba(256,256,256,0.5);
}
.owl-theme .owl-dots .active{
	background-color: #b5f7ff;
}
/* -------------------- */
/* $Video */
/* -------------------- */
.videoContainer {
	/*text-align: center;*/
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
}
@media (max-width: 480px) {
	.videoContainer {
		height: 200px;
	}
}
.videoContainer iframe {
	width: 100%;
}
/*@media (max-width: 768px) {
	.videoContainer iframe {
		width: 600px;
		height: 180px;
	}
}*/
/* -------------------- */
/* $My blog post */
/* -------------------- */
.myBlogPost{
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	/*border: 1px solid #000;*/
}
@media (max-width: 768px){
	.myBlogPost{
		padding-top: 4px;
	}
}
.myBlogPost__heading{
	margin-bottom: 36px;
	text-align: center;
}
@media (max-width: 768px){
	.myBlogPost__heading{
		font-size: 28px;
		margin-bottom: 8px;
	}
}
.subHeadingWrapper {
	display: flex;
	align-items: center;
}
.subHeadingWrapper span {
	flex: 1;
	height: 1px;
	background: black;
}
.myBlogPost__subHeading{
	font-size: 28px;
	text-align: center;
	padding-left: 16px;
	padding-right: 16px;
	/*border-bottom: 1px solid #000;*/
}
@media (max-width: 768px){
	.myBlogPost__subHeading{
		font-size: 20px;
		margin-bottom: 4px;
		margin-top: 4px;
		padding-left: 8px;
		padding-right: 8px;
	}
	.subHeadingWrapper.shipei {
		padding-top: 16px;
	}
}


.imgBox{
	display: block;
}
.imgBox .imgBox-inner{
	width: 100%;
	padding-top: 150%;
}
@media (max-width: 767px) {
	.imgBox .imgBox-inner{
		padding-top: 100%;
	}
}
.imgBox .image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}

/* -------------------- */
/* $Footer */
/* -------------------- */
.flex-container {
	display: flex;
	justify-content: space-between;
}
@media (max-width: 768px) {
	.flex-container {
		flex-direction: column;
		justify-content: revert;
		gap: 64px;
	}
}
.info-container {
	min-width: 225px;
}
.qrcode-group {
	display: flex;
}
@media (max-width: 768px) {
	.qrcode-group {
		gap: 32px;
	}
}
.image-container {
	padding-left: 16px;
	padding-right: 16px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 16px;
}
.image-container img {
	width: 100%;
}
.image-container p {
	margin-bottom: 12px;
	text-align: center;
}
@media (max-width: 768px) {
	.image-container {
		padding: 0;
	}
	.image-container p {
		max-width: 100px;
		margin-left: auto;
		margin-right: auto;
	}
}
.footer{
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: hsl(81deg, 63%, 61%);
}
.tel{
	/*text-align: center;*/
	color: #000;
}
.icon-group{
	text-align: center;
}
.icon-group .icon{
	display: inline-block;
	color: #000;
	margin-left: 4px;
	margin-right: 4px;
	transition: all 0.2s;
}
.icon-group .icon:hover{
	transform: translateY(-20%);
}
@media (max-width: 768px){
	.footer-heading{
		font-size: 28px;
		margin-bottom: 4px;
		margin-top: 4px;
	}
	.footer {
		padding-top: 16px;
		padding-bottom: 24px;
	}
}
/* -------------------- */
/* $watchVideo.html */
/* -------------------- */
.contentBlock {
	padding-top: 40px;
	padding-bottom: 80px;
	/*height: 1200px;*/
}

@media (max-width: 768px) {
	.contentBlock {
		padding-top: 0px;
		padding-bottom: 8px;
	}
	.videoWrapper {
		margin-top: 12px;
		margin-bottom: 12px;
	}
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.more_link span{
	color: blue;
}
.more_link span:hover {
	text-decoration: underline;
	text-underline-position: under;
}
/* -------------------- */
/* $browsePhoto.html */
/* -------------------- */
.imgBox .imgBox-innerForPhoto{
	width: 100%;
	padding-top: 75%;
}
.imgBox-innerForPhoto.innerForPhoto16-9{
	padding-top: 56.25%;
}
@media (max-width: 768px) {
	.imgBox .imgBox-innerForPhoto{
		margin-bottom: 12px;
	}
}
/* -------------------- */
/* $tenique.html */
/* -------------------- */
.videoWrapper.technique {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper.video {
    position: relative;
    padding-bottom: 50%; /* 16:9 */
    padding-top: 25px;
    height: 0;	
}
.videoWrapper.technique iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}





